# Django Settings
DEBUG=True
SECRET_KEY=tu-secret-key-muy-seguro-aqui-cambiar-en-produccion
ALLOWED_HOSTS=localhost,127.0.0.1
DATABASE_URL=

# Para Render:
DEBUG=False
ALLOWED_HOSTS=carreta-romeria.onrender.com
# Pega aquí la cadena de conexión de Neon (pooler recomendado)
# Ejemplo:
# DATABASE_URL=postgresql://usuario:password@ep-xxxxxx-pooler.us-east-2.aws.neon.tech/neondb?sslmode=require
